<header id="hero-header">
    <h1>Pets-R-Us</h1>
                                     
    <nav id="menu">
        <a class="menlist" href="/">Home</a> 
        <div class="subMenu">
            <span class="menlist"><a href="">Services</a></span>
            <div class="sublist">
                <a href="boarding">Boarding</a>                        
                <a href="grooming">Grooming</a>
                <a href="training">Training</a>
            </div>                            
        </div>
        <a class="menlist" href="">Booking</a>   
        <div class="subMenu">                                               
            <span class="menlist"><a href="" >Account</a></span>
            <div class="sublist">
                <a href="register" >Register</a>
                <a href="login">Login</a>                          
            </div>                        
        </div>                    
    </nav>  
    <div id="content">                        
        <h2 id="descript">Trusted for years by Everyone</h2>
    </div>                
</header>