<!--
    Title: indext.html
    Author: Manel Phiseme
    Date: 6/19/2022
    Description: The Home Page for Pets-R-US Site.
-->
<!DOCTYPE html>
<html lang="en">
    <head id="headSect">
        <title>Pets-R-Us</title>
        <link href="css/theme.css" type="text/css" rel="stylesheet">
        <link href="css/pages.css" type="text/css" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">        
    </head>
    <body>
        <header id="hero-header">
            <h1>Pets-R-Us</h1>
                                             
            <nav id="menu">
                <a class="menlist" href="/">Home</a> 
                <div class="subMenu">
                    <span class="menlist"><a href="">Services</a></span>
                    <div class="sublist">
                        <a href="boarding">Boarding</a>                        
                        <a href="grooming">Grooming</a>
                        <a href="training">Training</a>
                    </div>                            
                </div>
                <a class="menlist" href="">Booking</a>   
                <div class="subMenu">                                               
                    <span class="menlist"><a href="" >Account</a></span>
                    <div class="sublist">
                        <a href="" >Register</a>
                        <a href="">Login</a>                          
                    </div>                        
                </div>                    
            </nav> 
            <div id="content">                        
                <h2 id="descript">Trusted for years by Everyone</h2>
            </div>                
        </header>         
                  
        </section class="allSection">
            <section class="allSection" id="section1">
                <h3 class="sectTitle">Company Information</h3>
                <div class="divSection">
                    <div id="divInfo" class="divAll">
                        <p id="compInfo">  .</p>
                             <ul>
                                <li></li>
                                
                             </ul>                             
                        <p id="compInfo"></p>
                    </div>
                    <div class="divAll">
                        <img src="../public/photos/doggrom.jpeg" alt="store picture">  
                    </div> 
                </div>              
            </section>            
    </body>
    <footer>&copy; Copyright 2022 Manel Phiseme</footer>
</html>