<!--
    Title: indext.html
    Author: Manel Phiseme
    Date: 6/19/2022
    Description: The Home Page for Pets-R-US Site.
-->
<!DOCTYPE html>
<html lang="en">
    <head id="headSect">
        <title>Pets-R-Us</title>
        <link href="css/theme.css" type="text/css" rel="stylesheet">
        <link href="css/pages.css" type="text/css" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">        
    </head>
    <body>
        <header id="hero-header">
            <h1>Pets-R-Us</h1>
                                             
            <nav id="menu">
                <a class="menlist" href="/">Home</a> 
                <div class="subMenu">
                    <span class="menlist"><a href="">Services</a></span>
                    <div class="sublist">
                        <a href="boarding">Boarding</a>                        
                        <a href="grooming">Grooming</a>
                        <a href="training">Training</a>
                    </div>                            
                </div>
                <a class="menlist" href="">Booking</a>   
                <div class="subMenu">                                               
                    <span class="menlist"><a href="" >Account</a></span>
                    <div class="sublist">
                        <a href="" >Register</a>
                        <a href="">Login</a>                          
                    </div>                        
                </div>                    
            </nav> 
            <div id="content">                        
                <h2 id="descript">Trusted for years by Everyone</h2>
            </div>                
        </header>         
                  
        </section class="allSection">
            <section class="allSection" id="section1">
                <h3 class="sectTitle">Company Information</h3>
                <div class="divSection">
                    <div id="divInfo" class="divAll">
                        <p id="compInfo">  Take your furry pal in to be groomed by our certified stylists. 
                            We provide top notch Grooming services. Caring for your dog’s hygiene is more
                             than just making them look and smell good; it’s also about keeping them healthy 
                             and happy with freshly clipped nails and cleaned ears. Our employees always 
                             take the time to ensure that your dog is clean.</p>
                             <ul>
                                <li>Bath</li>
                                <li>Full wash</li>
                                <li>Conditioning</li>
                                <li>Ear cleaning</li>
                                <li>Shampoo</li>
                                <li>Clip and style</li>
                                <li>All breeds are welcome</li>
                                <li>Nail trimming</li>
                             </ul>                             
                        <p id="compInfo">Book your dog grooming service now. Walk in 
                            services starting at $5 are also available for dog nail trimming, 
                            teeth brushing, ear cleaning, and more.</p>
                    </div>
                    <div class="divAll">
                        <img src="img/doggrom.jpeg" alt="store picture">  
                    </div> 
                </div>              
            </section>            
    </body>
    <footer>&copy; Copyright 2022 Manel Phiseme</footer>
</html>