<!--
    Title: indext.html
    Author: Manel Phiseme
    Date: 6/19/2022
    Description: The Home Page for Pets-R-US Site.
-->
<!DOCTYPE html>
<html lang="en">
    <head id="headSect">
        <title>Pets-R-Us</title>
        <link href="css/theme.css" type="text/css" rel="stylesheet">
        <link href="css/pages.css" type="text/css" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">        
    </head>
    <body>
        <%- include('partials/headers') %>
            <section class="allSection" id="section1">
                <h3 class="sectTitle">Company Information</h3>
                <div class="divSection">
                    <div id="divInfo" class="divAll">
                        <p class="compInfo"> Pet-R-Us take pride in our dog stylists. 
                            We make sure that everyone who work for us are good at what they do.
                             Every single one of our stylists are certified. Taking care of your dog’s outside appearance is vital. 
                            It impacts their health and well-being. So, bring your furry pal to the closes Pet-R-US location near where it will receive top notch Grooming services. 
                            We will have them smelling good.  They will leave our location with their nails freshly clipped, and ears cleaned.
                             Our employees will always take the time to ensure that your dog is well groomed. 
                            With over 15 years if experience we can’t go wrong. 
                            We accept all dogs. It doesn’t matter in what condition your dog is in we can transform them from looking shaggy and shapeless to looking neat and proper. 
                            Some of the grooming services that we provide are listed below.</p>
                             <ul id="groomlist">
                                <li>Bath</li>
                                <li>Full wash</li>
                                <li>Conditioning</li>
                                <li>Ear cleaning</li>
                                <li>Shampoo</li>
                                <li>Clip and style</li>
                                <li>All breeds are welcome</li>
                                <li>Nail trimming</li>
                             </ul>                             
                        <p class="compInfo">So do not wait for tomorrow, book your grooming service now. 
                            It is easy to do just click on the book link on our site menu bar and fill out the form.
                             If you don’t feel comfortable booking online call our number or go to one of our locations to schedule your appointment. 
                            Depending on the day we do accept walk in. If there’s a specialist available who is not occupied, they can provide one of the services listed above. 
                            We do have a list of services that we provide walk-in. 
                            These services starting at $5. They are dog nail trimming, teeth brushing, and ear cleaning.</p>
                    </div>
                    <div class="divAll">
                        <img src="img/doggrom.jpeg" alt="store picture">  
                    </div> 
                </div>              
            </section>            
    </body>
    <%- include('partials/footer') %>
</html>