<!--
    Title: indext.ejs
    Author: Manel Phiseme
    Date: 6/19/2022
    Description: The Home Page for Pets-R-US Site.
-->
<!DOCTYPE html>
<html lang="en">
    <head id="headSect">
        <title>Pets-R-Us</title>
        <link href="css/theme.css" type="text/css" rel="stylesheet">
        <link href="css/pages.css" type="text/css" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">        
    </head>
    <body>
       
        <%- include('partials/headers') %>                  
        
            <section class="allSection" id="section1">
              
                <h3 class="sectTitle">Company Information</h3>
                <div class="divSection">
                    <div id="divInfo" class="divAll">                        
                        <p class="compInfo">For a very long time now Pets-R-Us has been serving our dear customers. 
                            We have been selling variety of pet-related products, supplies, services, and accessories. 
                            We also have been offering variety of pets for adoption.
                             We are the top pet store in every community that we have a location in. 
                            Recently we decided to increase the list of services what we provide. 
                            This list includes dog grooming, training, and boarding. 
                            As result of our new services, we created this website. You can now book any of the services that we mentioned on this site.                     
                        </p>
                        <p class="compInfo">Pets-R-Us was founded in 2007 by married couple Manuel and Rachel. 
                            They started Pet-R-Us because they love pets. All together they had a total of 25 various pets at their house. 
                            The idea to start the shop came when Manuel was driving around and noticed someone dropped some puppies at the side of the road and drove off. 
                            Manuel realized that there are a lot of pets that don’t have a home, so he and wife decided to start Pets-R-US. 
                            The store started off providing pet adaption services. Then selling some pet-related products.
                        </p>
                        <p class="compInfo">The company is growing tremendously. 
                            When they first started the company, they were the only employees. 
                            Now they have more than 200 employees in four different locations.
                             For the new services that we are providing like grooming, training, boarding we hired the best of the best. 
                            All employees are trained to the highest and current standards. 
                            We have been providing top notch product and services for 15 years now, we will not stop now.
                        </p>
                    </div>
                    <div class="divAll">
                        <img src="img/store5.jpeg" alt="store picture">  
                    </div> 
                </div>              
            </section>
            <section class="allSection" id="section2">
                <h3 class="sectTitle">Location</h3>                
                    <div id="localDetail" class="divAll">
                        <p class="compInfo compInfo2">After we were founded in 2017 in Omaha, Nebraska we have not stop growing. 
                            We started out with two workers now we are at 200.  
                            Pet-R-Us stared at a basement of the owners Manuel and Maury house. 
                            They were the first two workers. 
                            They ran all the business activities from there. After five months in the basement, Manuel and Maury had to relocate to a bigger location.                   
                        </p>
                        <p class="compInfo compInfo2">The first official location that Pet-R-US had is found at 13530 Discovery Dr Suite 15, Omaha, NE 68137. 
                            This the first and only location in Omaha, Nebraska. 
                            The company plan to expand in more areas in Omaha.
                             It won’t take long for that to happen because the company currently spreading like wildfire. Within the last two years we have opened two locations. 
                            That’s two new locations that we have on top of the two previous ones we had before. 
                        </p>
                        <p class="compInfo compInfo2">We are currently present in four cities. 
                            We are present in Omaha, Elkhorn, Bellevue, and Lincoln.
                             So, if you are in any of these areas and you need pets’ products or services, please don’t hesitate to visit us.
                             We will make sure that you leave as a happy customer. 
                            We are open from Sunday through. We are closed on Friday and Saturday. 
                            From Monday through Thursday, we are open from 7:30 Am to 6 P.M. and on Sunday we are open from 7:30 to 4 P.M. 
                            Please choose any of our location to come visit us.
                             We are looking forward to receiving you and giving you the best service ever.                            
                        </p>
                    </div>   
                    <h4 class="sectTitle hrTime">Hours and Locations </h4>                
                <div class="divSection"> 
                                
                <div id="divTime" class="divAll">                                      
                    <div id="timeTitle">                      
                    </div>
                    <div class="divAll">
                        <ul id="timeList">
                            <li>Mon    7:30 AM - 6:00 PM</li>
                            <li>Tues   7:30 AM - 6:00 PM</li>
                            <li>Wed    7:30 AM - 6:00 PM</li>
                            <li>Thurs  7:30 AM - 6:00 PM</li>
                            <li>Fri    closed  </li>
                            <li>Sat    closed</li>
                            <li>Sun    7:30 AM - 4:00 PM</li>
                        </ul> 
                    </div>                    
                </div>
                <div id="divCities" class="divAll">
                  
                    <ul id="localCities">
                        <li>
                            <h4 class="cityName">Omaha</h4>
                            <p>13530 Discovery Dr Suite 15, Omaha, NE 68137</p>                                   
                            <h4 class="cityName">Elkhorn</h4>
                            <p>20515 Nicholas Cir Suite 4, Elkhorn, NE 68022</p> 
                            <h4 class="cityName">Bellevue</h4>
                            <p>1000 Galvin Road S; Bellevue, NE 68005</p>  
                            <h4 class="cityName">Lincoln</h4>
                            <p>2621 N 48th St, Lincoln, NE 68504</p>                               
                        </li>
                    </ul>
                </div>
            </div>
            </section>
            <section class="allSection" id="section3">                 
                <div class=" divTestDog">                                                           
                    <div class="testCont" >
                        <h3 class="sectTitle testTitle">Testimony</h3> 
                        <div class="divTwoSect ">
                            <p>"I had a dog that was just super hyper and bitter.  We tried other training companies, 
                                Pets-R-US was my last hope.  They were incredible, to see my dogs face relaxed,happy and following commands, blow my mind. We left feeling empowered and excited to 
                                  take our dog home.  If you are having issues and just can't train your dog I highly 
                                  recommend you take your dog to Pets-R-US.  The Staff is awesome!!""                                 
                            </p>
                            <p class="reviewName">Micheal Brent</p>
                            <p>"Pets-R-US is the only place to take your pets for grooming. They are kind, treat 
                                us like family, looove our puppy like their's, and groom him to perfection!"</p>
                            <p class="reviewName">Kelly Burk</p>
                            <p>"Absolutely love the staff at Pets-R-US! They take care of my 2 dogs like
                                 they're their own. Very friendly and professional, taking time to train staff, 
                                 and the owners are fantastic! Our pups are never in a hurry to leave, they want
                                  to stay and visit their friends (the staff) on the way out. Thank you for giving 
                                  us peace while we're at work, knowing they're taken care of so well."</p>
                            <p class="reviewName">Samantha Jones</p>
                        </div> 
                    </div> 
                    <div class="testCont testImg">
                        <h3 class="">Dog of the Week</h3> 
                        <div id="img3">
                            <img class="photos" src="img/dog1.jpeg" alt="Image one of dog of week">
                            <img class="photos" src="imgdog2.jpeg" alt="image two of dog of the week">
                            <img class="photos" src="img/dog3.jpg" alt="image three of dog the week">
                        </div>
                    </div>             
                </div>               
            </section>
            <section class="allSection" id="sction4">
                <h3 class="sectTitle">Contact Form</h3>
                <form id="contactCard">
                    <label for="input1" class="labelName">Name</label>
                    <input type="text" class="allInput" id="input1" placeholder="Full name">
                    <label for="input2"  class="labelName">Email</label>
                    <input type="text" class="allInput" id="input2" placeholder="Email">
                    <label for="input3" class="labelName">Message</label>
                    <textarea name="input3" class="allInput" id="input3" placeholder="Message"></textarea>
                    <button id="bntId">Submit</button>
                </form>
            </section> 
            <script src="/index.js"></script>
            <script>
                slider();                

                function slider(){
                   let index = 0; 
                   let x = document.getElementsByClassName("photos");   
                    for (let i = 0; i < x.length; i++) {
                        x[i].style.display ="none";                        
                    }
                    index++
                    if(index > x.length){
                        index = 1
                    }
                    x[index-1].style.display = "block";
                    setTimeout(slider, 3000);
                }
                
             </script>               
           <%- include('partials/footer') %>      
    </body>
    
</html>