<!--
    Title: logout.ejs
    Author: Manel Phiseme
    Date: 7//2022
    Description: Logout page.
-->
<link href="css/theme.css" type="text/css" rel="stylesheet">
<link href="css/pages.css" type="text/css" rel="stylesheet">  
 <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">        
 

 <h3 id="logout3">All set you are logged out</h3>
 <div id="logOutSect">
    <button type="button" id="bntI2" class="userInp logOut"><a href="/">Click to go back to home page</a></button>
</div>

 <%- include('partials/footer') %> 